PROJECT_ID="px-operations"
REGION="us-central1"
REPO_NAME="px-operations"
SQL_INSTANCE="px-operations-pg-us"
DB_NAME="pxoperations"
DB_USER="pxoperations_app"
DB_PASS=""
SERVICE_ACCOUNT="px-operations-runner"
API_SERVICE_NAME="px-operations-api"
WEB_SERVICE_NAME="px-operations-web"
SECRET_DB_CONNECTION="px-operations-db-connection"
DB_TIER="db-custom-1-3840"
DB_EDITION="ENTERPRISE"
