<header class="topbar">
    <div class="logo">
        <a class="brq" href="">brq<sup>®</sup></a>
        <div class="logo-sep"></div>
        <div class="logo-tag">Operations PX</div>
    </div>
    <nav>
        <a href="/">Diagnóstico</a>
        <a href="/projects">Projetos</a>
    </nav>
</header>
