@using Microsoft.AspNetCore.Components.Routing

<header class="topbar">
    <div class="logo">
        <img src="images/brq-logo.svg" alt="BRQ" class="brq-logo" />
        <div class="logo-sep"></div>
        <div class="logo-tag">Operations PX</div>
    </div>
    <nav>
        <NavLink href="/" Match="NavLinkMatch.All">Diagnóstico</NavLink>
        <NavLink href="/projects">Projetos</NavLink>
        <NavLink href="/milestones">Marcos</NavLink>
    </nav>
</header>
