<div class="stats-bar">
    <div class="stat p">
        <div class="sico p">&#9672;</div>
        <div><div class="sval">@TotalCount</div><div class="slbl">Total de marcos</div></div>
    </div>
    <div class="stat g">
        <div class="sico g">&#128197;</div>
        <div><div class="sval">@WeekCount</div><div class="slbl">Na semana</div></div>
    </div>
    <div class="stat b">
        <div class="sico b">&#128198;</div>
        <div><div class="sval">@MonthCount</div><div class="slbl">No mês</div></div>
    </div>
    <div class="stat o">
        <div class="sico o">&#9733;</div>
        <div><div class="sval">@SponsorCount</div><div class="slbl">Sponsors</div></div>
    </div>
</div>
